body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: Navy;
    color: #333;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    font-size: 2em;
    color: Purple;
}

.form-section {
    margin-bottom: 20px;
}
.form-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-section input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-section input[type="checkbox"] {
    width: auto;
}






/* .class-entry {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid #ddd;
    display: none;
    animation: slideIn 0.5s ease-out forwards;
}
.class-entry.active {
    display: block;
} */



.class-entry {
    background-color: Plum;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid #ddd;
    opacity: 0; /* initially hidden */
    animation: slideIn 0.5s ease-out forwards;
}

.class-entry.active {
    opacity: 1; /* make visible when active */
}





.survey {
    display: flex;
    flex-direction: column;
}

/* .survey input {
    margin-left: 20px;
} */
.class-entry .survey{
    background-color: RebeccaPurple;
    display: inline-block;
    width: 100px;
    height: 100px;
  z-index: 1;
  position: relative;
    transition: all 250ms ease-out;
}

.survey input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.survey input[type=checkbox] + label {
    background-color: Purple;
}


/*Leave room for obvious question*/


.add-class-btn, .remove-class-btn {
    background-color: Plum;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.remove-class-btn {
    background-color: Plum;
}

.progress-bar {
    width: 100%;
    background-color: RebeccaPurple;
    height: 8px;
    margin-bottom: 20px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: white;
}

.error {
    color: red;
    font-size: 0.9em;
}

.success {
    color: Navy;
    font-size: 0.9em;
}
/* .checklist{

} */

@keyframes slideIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
