html{
    font-family: Georgia, Times, 'Times New Roman', serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: Navy;
    overflow: hidden;
}
.container{
    margin:0 auto;
    width: 100%;
    text-align:center;
    padding-top: 75px;
    height: 100vh;
    font-size:xx-large;
    /* background-image: url("https://asegrad.tufts.edu/sites/g/files/lrezom691/files/styles/embedded_large/public/2024-04/231213%2010093%20medford%20last%20day%20of%20class014%20%282%29.JPG?itok=K5jdGiBb"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://asegrad.tufts.edu/sites/g/files/lrezom691/files/styles/embedded_large/public/2024-04/231213%2010093%20medford%20last%20day%20of%20class014%20%282%29.JPG?itok=K5jdGiBb');
    background-size: cover;
    color: Plum;
}
.button{
    background-color: #5c4aff;
    color: Purple;
    padding: 15px 20px;
    border: none;
    width: 20%;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    top:20vh;
    font-size:xx-large;
}
.button:hover{
    background-color: Navy;
}
.side_button{
    background-color: Purple;
    color: white;
    position: absolute;
    right: 10%;
    top:2%;
    width: 100px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    font-size:large;
}
/* .small_bg{
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    height: 60vh;
    padding:20px;
    width: 50%;
    margin: 0 auto;
} */


